//- index.jade
- var title = "STIRDATA"
- var page = "Sign In"

doctype html
html(lang="en")

	// html head
	head
		include ./includes/head.pug

	// body
	body

		// header
		header.sign

			// wrap
			.container.d-flex.align-items-center

				// logo
				a( href="index.html" )
					img.logo( src="img/ic-logo-white.png" )
				
				// navigation
				nav.actionnav
					ul 
						li.sign
							a( href="signin.html" ) Sign in
						li
							a.button( href="signup.html" ) Get Started

		// page main
		main(role="main")

			// sign in/up
			section.signs

				// left
				.container-fluid.sign-background
					.row.flex-nowrap.g-0 
						.col-md-12.col-lg-5.col-xl-5.min-vh-100.side

				// text
				section.container.signcontent
					.row
						.col-md-12.col-lg-4.col-xl-4.signcontent-left

							// banner feature
							ul.bannerfeatures.slick-features
								li
									img( src="img/img-feature-1.png")
									.text
										h2 
											| Explore, Search and 
											br
											| Navigate
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
								li
									img( src="img/img-feature-2.png")
									.text
										h2 
											| Visualize, Analyze and
											br
											| Save
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

						.col-md-12.col-lg-8.col-xl-8.signcontent-right
							
							// heading
							.headingtext
								h1 Sign in
								p
									| Sign in using your email and password or 
									a.anchor( href="signup.html") Sign up  
									|  if you haven’t got an account.
							
							// sign in form
							.form 
								.inputform
									span.label Email
									input( type="email" )
								.inputform
									span.label Password
									input( type="password" )
								.inputaction
									button( type="button" ) Sign in
									span.note
										span or
										a( href="#" ) Forgot Password
									button.google( type="button" ) Sign in with Google

							

	// javascript
	include ./includes/script.pug