// color variables used

// background
$background-color: #FFFFFF;

// accent color
$accent-first-color: #355FAA;
$accent-second-color: #F9A800;
$accent-third-color: #95C393;

// border
$list-border-color: #E4E8EE;
$pills-color: #97CC04;

// text color
$text-first-color: #21314D;
$text-second-color: #4A5569;

// font variables used
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400;1,500&display=swap');
$font-family: "Jost","Avenir","sans-serif";