@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  outline: none !important;
}
*:focus {
  outline: none !important;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
  margin: 1em;
}
.container::after {
  display: block;
  clear: both;
  content: "";
}

h1 {
  font-size: 2rem;
  line-height: 2.875rem;
  font-weight: 500;
}

h2 {
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.188rem;
  font-weight: 500;
}

.dropdown-menu {
  padding: 0;
  background: #355FAA;
  color: #fff;
  font-size: 0.875rem;
  border: 0;
}

.dropdown-item {
  color: #fff !important;
  text-decoration: none !important;
}
.dropdown-item:hover {
  background: #4b78c7;
  text-decoration: none;
}

body {
  background: #FFFFFF;
  font-family: "Jost", "Avenir", "sans-serif";
  font-size: 16px;
  line-height: 30px;
  color: #21314D;
}
body header {
  height: 140px;
  position: relative;
  z-index: 2;
}
body header .container {
  height: 100%;
}
body form {
  margin: 0;
}
body form .inputform {
  margin: 0 0 30px 0;
  border: 1px solid #4A5569;
  border-radius: 4px;
  position: relative;
}
body form .inputform:hover {
  border-color: #355FAA;
}
body form .inputform .label {
  position: absolute;
  background: #fff;
  padding: 0 8px;
  top: -16px;
  left: 5px;
}
body form .inputform input {
  height: 47px;
  margin: 4px 5px 0 5px;
  background: #fff;
  border: 0;
  padding: 0 20px;
  width: 70%;
}


body form .inputaction button {
  padding: 8px 40px;
  display: inline-block;
  border-radius: 4px;
  background: #21314D;
  color: #fff;
  border: 0;
}
body form .inputaction button:hover {
  background: #121a29;
  color: #fff;
}
